.App {
  text-align: center;
  display: grid;
  place-content: center;
  height: 100%;
  background-color: #CDFDEE;
}

/* warper - start */ 


.warper {
  display: grid;
  grid-template-columns: minmax(auto, 500px);
  border-radius: 1rem;
  height: calc(100vh - 20px);
  margin: 10px 0;
  align-content: baseline;
}


/* warper - end */ 


/* header start */


header {
  height: 60px;
  display: grid;
  place-content: center;
}


/* header end */


/* nav start */


nav {
  display: grid;
  justify-content: center;
  padding: 1rem 0;
}

.nav-button {
  font-size: 1rem;
  padding: 0.5rem 7rem;
}

.nav-button {
  align-items: center;
  appearance: none;
  background-color: #F3FFFB;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.nav-button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.nav-button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}


/* nav end */


/* section - grid header - start */


.grid-headers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: #22AE9A;
  font-size: small;
  padding: 0.6rem 0.5rem;
  font-weight: bold;
  gap: 5px;
  color: #F3FFFB;
  border-radius: 5px;
  margin: 0 5px;
}

.header {
  padding: 0.5rem 0;
}


/* section - grid header - end*/


/* section - grid data - start*/


.grid-data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  font-size: small;
  background-color: #F3FFFB;
  margin: 5px;
  border-radius: 5px;
  color: #108575;
  padding: 1rem 0.5rem;
  gap: 5px;
  overflow: scroll;
}


/* section - grid data - end*/


.sum-section {
  display: grid;
  text-align: left;
  margin: 0 5px;
  grid-template-columns: auto 1fr;
  align-content: center;
  gap: 1rem;
  background-color: #F3FFFB;
  color: #055d60;
  padding: 0 1rem;
  border-radius: 5px;

}

.section-grid {
  display: grid;
  justify-content: start;
  margin: 20px 0;
}

input {
  display: grid;
  border: none;
  background: none;
}