.App {
  text-align: center;
  display: grid;
  place-content: center;
  height: 100%;
  
}


/* header start */


header {
  height: 60px;
  display: grid;
  place-content: center;
}


/* header end */


/* nav start */


nav {
  display: grid;
  justify-content: center;
  background-color: aliceblue;
  padding: 1rem 0;
}

.nav-button {
  font-size: 1rem;
  padding: 0.5rem 7rem;
}

.nav-button {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.nav-button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.nav-button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.nav-button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}


/* nav end */


/* section - grid header - start */


.grid-headers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: cadetblue;
  font-size: small;
  padding: 1rem 0.5rem;
  font-weight: bold;
  gap: 5px;
}

.header {
  padding: 0.5rem 0;
}


/* section - grid header - end*/


/* section - grid data - start*/


.grid-data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  font-size: small;
  padding: 1rem 0.5rem;
  gap: 5px;
}


/* section - grid data - end*/


.sum-section {
  display: grid;
  text-align: left;
  margin: 0.5rem 1rem;
  grid-template-columns: auto 1fr;
  align-content: center;
  gap: 1rem;
}


/* warper */ 

.warper {
  display: grid;
  grid-template-columns: minmax(auto, 500px);
}